/* Sidebar container */
.sidebar {
    position: fixed;        /* Fixa a barra lateral na tela */
    top: 0;
    left: 0;
    width: 250px;           /* Largura fixa da barra lateral */
    height: 100vh;          /* Ocupa toda a altura da tela */
    background: #111;       /* Cor de fundo */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: all 0.3s ease;
}

/* Estilo para o link HOME */
.sidebar > .link {
    font-size: 24px;
    color: #eee;
    font-weight: 500;
    margin-bottom: 20px;    /* Espaçamento abaixo do link HOME */
}

/* Container dos links da barra de navegação */
.sidebar .side-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;              /* Espaço entre os itens */
}

/* Estilo dos itens individuais */
.sidebar .side-nav .item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Estilo para os links dentro dos itens */
.sidebar .side-nav .item .link {
    color: #a4aBac;
    font-size: 20px;
    transition: all 0.3s ease;
}

/* Estilo para os itens ativos */
.sidebar .side-nav .item.active {
    background: #fafafa;
}

.sidebar .side-nav .item.active .link, 
.sidebar .side-nav .item.active i {
    color: #111;
    font-weight: bold;
}

/* Perfil de usuário na parte inferior */
.sidebar .side-profile {
    background: #fafafa;
    padding: 14px 10px;
    border-radius: 10px;
}

.sidebar .side-profile i, 
.sidebar .side-profile .link {
    color: #111;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
}
