.sidebar {
    flex: 1;
    background: #111;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: all 0.3s ease;
}


.sidebar > .link {
    font-size: 24px;
    color: #eee;
    font-weight: 500;
}

.sidebar .side-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar .side-nav .item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar .side-nav .item .link {
    color: #a4aBac;
    transition: all 0.3s ease;
}

.sidebar .side-nav .item .link {
    font-size: 20px;
    transition: all 0.3s ease;
}

.sidebar .side-nav .item.active {
    background: #fafafa;

}

.sidebar .side-nav .item.active .link, 
.sidebar .side-nav .item.active i {
    color: #111;
    font-weight: bold;
}

.sidebar .side-profile {
    background: #fafafa;
    padding: 14px 10px;
    border-radius: 10px;
}

.sidebar .side-profile i, .sidebar .side-profile .link {
    color: #111;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
}